main {
    background-color:rgb(237, 237, 237);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}
nav .navbar-brand {
    font-size: 30pt;
}
nav .navbar-brand .blue {
    color: rgba(255, 255, 255, 0.9);
}
.nav-bg {
    background: linear-gradient(235deg, rgba(27, 199, 53, 0.8) 0%, rgba(204, 76, 250, 0.8) 40%, rgba(126, 142, 249, 0.8) 100%);
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: rgb(131,58,180);
    text-transform: uppercase;
    font-size: 14pt;
}
nav ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: rgb(131,58,180);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.35s;
}
.navbar ul li:hover::after {
    width: 100%;
}
.welcome-bg {
    background: url(images/charts.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}
.welcome-title {
    display: flex;
    flex-direction: column;
    align-items: right;
    border-width: 1px;
    border: black;
}
.form-box {
    background-color: rgba(200,200,200,0.25);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 25px;
    width: 25vw;
}
.form-box:hover {
    background-color: rgba(200,200,200,0.5);
}
.form-entry {
    margin-top: 10px;
    float: top;
}
.text-blue {
    color: #537fbe;
    font-weight: bold;
}
.support-block {
    background-color: rgba(200,200,200,0.25);
    padding: 15px;
    border-radius: 25px;
}
.support-block p {
    text-align: left;
}
.support-block ul {
    text-align: left;
}
.text-green {
    color: #2e944b;
    font-weight: bold;
}
.dashboard-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 50px;
    gap: 50px;
}

@media only screen and (max-width: 1200px) {
    .dashboard-cards {
        grid-template-columns: 1fr;
    }
    .form-box {
        width: 75vw;
    }
}

.card {
    width: 90%;   
    background-color: white;
    border-radius: 10px;
    border-color:rgba(27, 199, 53, 0.8);
    justify-self: center;
}

.chart-canvas {
    margin: 20px;
    position: relative;
    /* min-height: 250px;
    max-height: 500px; */
}
.dashboard-block {
    background-Color: rgb(206, 206, 206);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
}
.right {
    float: right;
    margin-right: 1em;
}

.dashboardBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}
.dashboardInsight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 2em;
    padding-right: 2em;
    flex-wrap: wrap;
}
.dashboardInsightBlock {
    margin-top: 10px;
    padding-left: 0.5em;
    padding-right: 2em;
    border-left: 5px solid rgb(76, 0, 255);
}
.dashboardInsightBlock p {
    color: rgb(5, 5, 94);
}