{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}
{% block main %}
<h1 class="display-2">Financial Dashboard</h1>
<div class="dashboard-block">
    <div class="dashboard-banner">  
        <h2 class="display-4">Overview</h2>
    </div>
    <div class="wrapper-column">
        <div class="wrapper">
            <div class="dashboard-insight-block">
                <h3>Current Balance</h3>
                <p class="lead">{{ balance.current_balance | gbp }}</p>
                <a href="/settings">Want to change this?</a>
            </div>
            <div class="dashboard-insight-block">
                <h3>Difference Since Last Month</h3>
                <p class="lead" id="balanceDifferenceMonthly"></p>
            </div>
            <div class="dashboard-insight-block">
                <h3>Difference Since Last Year</h3>
                <p class="lead" id="balanceDifferenceYearly"></p>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-block">
    <div class="dashboard-banner">  
        <h2 class="display-4">Balance</h2>
    </div>
    <div class="dashboard-cards-large">
        <div class="card">
            <div class="chart-canvas">
                <canvas id="balanceBar"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-block">
    <div class="dashboard-banner">  
        <h2 class="display-4">Expenses</h2>
        <div>
            <select name="yearpicker" id="yearpicker" onchange="updateChart()">
                <option value="{{ currentYear }}" selected>{{ currentYear }}</option>
                {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
            <select name="monthpicker" id="monthpicker" onchange="updateChart()">
                <option value="{{ currentMonth | month }}" selected>{{ currentMonth }}</option>
                <option value="01">Jan</option>
                <option value="02">Feb</option>
                <option value="03">Mar</option>
                <option value="04">Apr</option>
                <option value="05">May</option>
                <option value="06">Jun</option>
                <option value="07">Jul</option>
                <option value="08">Aug</option>
                <option value="09">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>
        </div>
    </div>
    <div class="dashboard-cards-small">
        <div class="card">
            <div class="chart-canvas">
                <canvas id="expensesBar"></canvas>
            </div>
        </div>
        <div class="card">
            <div class="chart-canvas">
                <h3 class="display-5">Insights</h3>
                <div class="wrapper">
                    <div class="wrapper">
                        <div class="dashboard-insight-block">
                            <h3>Average</h3>
                            <p id="averageMonth"></p>
                        </div>
                        <div class="dashboard-insight-block">
                            <h3>Current</h3>
                            <p id="currentMonth"></p>
                        </div>
                    </div>
                    <div class="dashboard-insight">
                        <ul>
                            <li>
                                <div class="dashboard-insight-block">
                                    <p><span id="difference"></span></p>
                                </div>
                            </li>
                            <li>
                                <div class="dashboard-insight-block">
                                    <p><span id="highest"></span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- https://www.chartjs.org -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-stacked100@1.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="/static/script_dashboard.js"></script>
{% endblock %}