{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}
{% block main %}
<h1>Financial Dashboard</h1>
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <h2>Expenses</h2>
            <div class="chart-container" style="position: relative;">
                <canvas id="expenses"></canvas>
            </div>
        </div>
    </div>
</div>
{% block javascript %}
<script>
    let expense_month_data = JSON.parse({{expenses_month|tojson|safe}})

    var ctx = document.getElementById("expenses").getContext('2d')
    var income_vs_category_chart = new Chart(ctx, {
        type: 'bar',
        data: {
            // labels: ['Average', 'Current'],
            datasets: [{
                label: 'Average',
            data: expense_month_data,
            parsing: {
                xAxisKey: 'category',
                yAxisKey: 'current'
                },
            backgroundColor: 'blue',
            }, {
            label: 'Average',
            data: expense_month_data,
            parsing: {
                xAxisKey: 'category',
                yAxisKey: 'average'
                },
            backgroundColor: 'green'
            }]
        },
        options: {
            scales: {
                x: {
                    stacked: true
                }
            }
        }
});
</script>
{% endblock%}

<div class="container-fluid">

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Category</th>
                <th class="text-start">Total</th>
                <th class="text-start">Average</th>
                <th class="text-start">Difference</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td class="text-start">{{ expense['category'] }}</td>
                    <td class="text-end">{{ (expense['current']|abs)|gbp }}</td>
                    <td class="text-end">{{ (expense['average']|abs)|gbp }}</td>
                    {% if expense['current'] > expense['average'] %}
                        <td class="text-start">Above Average</td>
                    {% elif expense['current'] < expense['average'] %}
                        <td class="text-start">Below Average</td>
                    {% else %}
                        <td class="text-start">Average</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p>This will display the dashboard interface</p>
{% endblock %}

