{% extends "layout.html" %}

{% block title %}
    Support
{% endblock %}
{% block main %}
<div class="container-fluid">
    <h1 class="display-4">Support</h1>
    <div class="support-block mt-3">
        <h2 class="display-5">Uploading</h2>
        <p>Before uploading your transactional data, ensure you have satisfied the following criteria:</p>
        <ul>
            <li>Ensure the file is a CSV (.csv) file</li>
            <li>Ensure the following column headers are used in your file:
                <ul>
                    <li>Date</li>
                    <li>Amount</li>
                    <li>Description</li>
                </ul>
            </li>
            <li>See the example below:</li>
        </ul>
        <table class="table table-dark table-bordered table-sm mx-auto w-auto">
            <tr class="thead-dark">
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
            </tr>
            <tbody class="table-striped">
                <tr>
                    <td>2022-03-08</td>
                    <td>-100</td>
                    <td>Shopping</td>
                </tr>
                <tr>
                    <td>08/03/2022</td>
                    <td>1000</td>
                    <td>Payday</td>
                </tr>
                <tr>
                    <td>Thursday 08 March 2022</td>
                    <td>-20</td>
                    <td>Meal with friends</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="support-block mt-3">
        <h2 class="display-5">Balance Update</h2>
        <p>
            You may notice on the dashboard that there is a chart which shows how your balance has changed over time. <br>
            This is created using your current balance, and working back through all of the historical transactions. <br>
            To make sure this is correct, you'll need to enter your current balance. <br>
            Don't worry, once you've done this, any subsequent transactions will adjust your balance automatically!
        </p>
    </div>
</div>
{% endblock %}