{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}
{% block main %}
<h1>Add Transactions</h1>
<div class="container-fluid mb-5">
    <h2>Add</h2>
    <form method="post" action="/upload/add">
        <input type="date" name="date">
        <input type="text" value="Description" name="desc">
        <input type="number" value="Amount" name="amount">
        <select  class="form-select form-select-sm" name="category">
            <option selected disabled>Choose...</option>
            {% for category in categories %}
                <option>{{ category['category'] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Add</button>
    </form>
</div>
<div class="container-fluid mb-5">
    <h2>Upload</h2>
    <form method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>
</div>
{% endblock %}